{% extends "main_template/base.html" %}
{% block title %} 上期技术监控专用版本控制系统 {% endblock %}

{% block innerStyle%}
  <style>
   .deploySelect {
     border:2px solid gray;
     margin-top:5px;
     background-color:#FF9900;
   }
   .parameterSelect {
     border:2px solid gray;
     margin-top:5px;
     background-color:#C0C0C0;
   }

   #paramArea {
     border:2px solid #BDBDBD;
     background-color:#cfd8dc;
     padding:0px 0px;
   }
   .row {
      width: 100%;
      padding: 3px;
      border-bottom:2px solid #BDBDBD;
      margin-left: 0px;
    }
   .lastrow {
      border-bottom: 0px;
      background-color: #b0bec5;
    }
   .text {
      position: relative;
      top:3px;
      padding: 0px, 0px;
    }
    .col-xs-4{
      padding: 0px;
      width: 30%;
      margin: 5px 10px 5px 0px;
    }
    .col-xs-3{
      padding: 0px;
      width: auto;
      margin: 0px 10px 0px 0px;
    }
    input {
      position: relative;
    }
    #reqBtn {
      width: 30%;
      background-color: #f5f5f5;
      font-size: 15px;
    }
    #reqBtn:hover {
      background-color: #bdbdbd;
    }
    .searchIcon {
      background-image: url(/static/images/search.png);
      position: absolute;
      left: 90%; top: 10px;
      z-index:5;
      background-repeat: no-repeat;
      background-position: 0px 0px;
      width: 20px;
      height: 20px;
    }
  </style>
{% endblock%}

{% block innerScript %}
  <script>
     $(document).ready(function() {
         $("#panelbar").kendoPanelBar({
         });
         $("a").removeClass('k-state-selected');
         $('#deploy').addClass('k-state-selected');

         var data = [];
         var interval= null;
         var FAILED_FLAG = 0;
         var defaultChooseString = "默认全选";
         var defaultNegationString = "默认不选[取反模式]";
         setNtfSessionStorage(data);
         eventInit();
         kendoParamInit();

         function eventInit() {
           $('#reqBtn').click(submitReq);
           showOrHide();
           $(window).resize(function() {
             resizeHeight();
           })
           $('#paramArea').bind({ //鼠标在div内部时执行 keydown操作
              mouseenter :function(){
                $(document).bind('keydown' ,function(event){
                 if (event.keyCode == 13) {
                   console.log('enter press')
                   submitReq();
                   }
                 })
              },
              mouseleave:function(){
                $(document).unbind('keydown');
              }
           })
         }

         function kendoParamInit() {
           getAjaxParam();
           $('#ctr').kendoDropDownList({
             optionLabel: defaultChooseString,
             dataSource : ['PD','BJ','ZJ']
           })
           $('#ictr').kendoDropDownList({
             optionLabel: defaultNegationString,
             dataSource : ['PD','BJ','ZJ']
           })
           $('#parameter').kendoDropDownList({
             dataSource : ['deployConsole','undeployConsole','deployServer','undeployServer']
           })
           $('#srv').kendoDropDownList({
             optionLabel: defaultChooseString
           })
           $('#isrv').kendoDropDownList({
             optionLabel: defaultNegationString
           })
           $('#grp').kendoDropDownList({
             optionLabel: defaultChooseString
           })
         }

         function getAjaxParam() {
           getParAllSrvName();
           getParAllGroup();
         }

         function getParAllSrvName() {
           var req_data = {
            'ENV_KEY':sessionStorage.getItem('ENV_KEY'),
            'type': '',
            '--cmd': 'info',
            '--args':'srvname',
            '--grp': '',
            '--ctr': '',
            '--srv': '',
            '--srvno': '',
            '--ictr': '',
            '--isrv': '',
            '--isrvno': ''
          };

           var req_url = '/AJAX/Request_Real_Time_Info_Task/';
           $.ajax({
             url: req_url,
             data: {'req_json': JSON.stringify(req_data)},
             dataType: 'json',
             type: 'POST',
             traditional: true,
             success: function (result) {
               if (result.status === FAILED_FLAG) {
                 modalAlert(result.error)
               } else {
                 $('#srv').kendoDropDownList({
                   optionLabel: defaultChooseString,
                   dataSource : result.rsp_data
                 })
                 $('#isrv').kendoDropDownList({
                   optionLabel: defaultNegationString,
                   dataSource : result.rsp_data
                 })
               }
             }
           });
         }

         function getParAllGroup() {
           var req_data = {
            'ENV_KEY':sessionStorage.getItem('ENV_KEY'),
            'type': '',
            '--cmd': 'info',
            '--args':'group',
            '--grp': '',
            '--ctr': '',
            '--srv': '',
            '--srvno': '',
            '--ictr': '',
            '--isrv': '',
            '--isrvno': ''
          };

           var req_url = '/AJAX/Request_Real_Time_Info_Task/';
           $.ajax({
             url: req_url,
             data: {'req_json': JSON.stringify(req_data)},
             dataType: 'json',
             type: 'POST',
             traditional: true,
             success: function (result) {
               if (result.status === FAILED_FLAG) {
                 modalAlert(result.error);
               } else {
                 $('#grp').kendoDropDownList({
                   optionLabel: defaultChooseString,
                   dataSource : result.rsp_data
                 })
               }
             }
           });
         }

         function showOrHide() {
           $('#instruction').click(function(){
             $(this).siblings().is(':hidden') ? $(this).siblings().show():$(this).siblings().hide();
             resizeHeight();
           })
           $('#param').click(function(){
             $(this).siblings().is(':hidden') ? $(this).siblings().show():$(this).siblings().hide();
             resizeHeight();
           })
         }

         function submitReq() {
           unbindEvent('reqBtn')
          //  $('#result').hide();
           var req_data = getReq_data();
           $.ajax({
             url: '/AJAX/Request_Task_Ntf/',
             data: {'req_json': JSON.stringify(req_data)},
             dataType: 'json',
             type: 'POST',
             traditional: true,
             success: function(result) {
               if (result.status === FAILED_FLAG) {
                 modalAlert(result.error);
               } else {
                 var ntf_task_data = getNtfSessionStorage();
                 ntf_task_data.push(result.rsp_data);
                 setNtfSessionStorage(ntf_task_data);
                 intervalReq(ntf_task_data);
               }
             }
           });
         }

         function resizeHeight() {
          var windowHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
          var grid = $("#result").data("kendoGrid");
          var resizeHeight = windowHeight - $('#result').offset().top - 80;
          if(grid) {
             grid.setOptions({
               height : resizeHeight
             })
           }
         }

         function setNtfSessionStorage(ntfdata) {
           var str = JSON.stringify(ntfdata);
           sessionStorage.setItem('ntf_task_data',str);
         }

         function getNtfSessionStorage() {
           var str = sessionStorage.getItem('ntf_task_data');
           var ntf_task_data = JSON.parse(str);
           return ntf_task_data;
         }

         function intervalReq(ntf_task_data) {
           var times = 0;
           interval = setInterval(function(){
             times ++ ;
             console.log(times);
             if(times == 20) {
               clearInterval(interval);
               rebindEvent('reqBtn');
             }
             reqResult_data = {
               'ENV_KEY': localStorage.getItem('ENV_KEY'),
               'task_data': ntf_task_data
             }
             console.log(ntf_task_data);
             if(ntf_task_data == null) {
               return;
             }
             $.ajax({
               url: '/AJAX/Get_NTF_Task_Result/',
               data: {'req_json': JSON.stringify(reqResult_data)},
               dataType: 'json',
               type: 'POST',
               traditional: true,
               success: function (result) {
                 if (result.status === FAILED_FLAG) {
                   modalAlert(result.error);
                 } else {
                   ajaxResultProcess(result, ntf_task_data);
                 }
               }
             });
           },5000);
         }

         function ajaxResultProcess(result, ntf_task_data) {
           var task_result = result.rsp_data;
           console.log(task_result);
           for (var value in task_result) {
             task_id = value;
             task_id = value;
             if (result.rsp_data[task_id].status === FAILED_FLAG) {
               modalAlert(result.rsp_data[task_id].error);
               clearInterval(interval);
               rebindEvent('reqBtn');
               return;
             }

             if (result.rsp_data[task_id].status !== FAILED_FLAG && result.rsp_data[task_id].rsp_data === "Waiting") {
               console.log ('Waiting');
               break;
             }

             if (result.rsp_data[task_id].status !== FAILED_FLAG && result.rsp_data[task_id].rsp_data !== "Waiting") {
               for ( var i = 0 ; i < ntf_task_data.length; ++ i) {
                 if (ntf_task_data[i][0] == task_id) {
                   showResult(result.rsp_data[task_id]);
                   ntf_task_data.splice(i,1);
                   setNtfSessionStorage(ntf_task_data);
                   clearInterval(interval);
                   rebindEvent('reqBtn');
                 }
               }
             }
           }
         }

         function getReq_data(){
            //  var select = $('#parameter').data("kendoDropDownList").text();
            //  var req_data = {
            //    'ENV_KEY':localStorage.getItem('ENV_KEY'),
            //    'exec_time': 1,
            //    '--cmd': select,
            //    '--grp': $('#grp').data("kendoDropDownList").text() == "请选择参数类型" ? '' : $('#grp').data("kendoDropDownList").text(),
            //    '--ctr': $('#ctr').data("kendoDropDownList").text() == "请选择参数类型" ? '' : $('#ctr').data("kendoDropDownList").text(),
            //    '--srv': $('#srv').data("kendoDropDownList").text() == "请选择参数类型" ? '' : $('#srv').data("kendoDropDownList").text(),
            //    '--srvno': $('#srvno').val(),
            //    '--ictr': $('#ictr').data("kendoDropDownList").text() == "请选择参数类型" ? '' : $('#ictr').data("kendoDropDownList").text(),
            //    '--isrv': $('#isrv').data("kendoDropDownList").text() == "请选择参数类型" ? '' : $('#isrv').data("kendoDropDownList").text(),
            //    '--isrvno': $('#isrvno').val()
            //  }
           var req_data = {
              'ENV_KEY': localStorage.getItem('ENV_KEY'),
              'exec_time': 1,
              '--cmd': $('#parameter').data("kendoDropDownList").text(),
              '--grp': $('#grp').data("kendoDropDownList").text() == defaultChooseString ? '' : $('#grp').data("kendoDropDownList").text(),
              '--ctr': $('#ctr').data("kendoDropDownList").text() == defaultChooseString ? '' : $('#ctr').data("kendoDropDownList").text(),
              '--srv': $('#srv').data("kendoDropDownList").text() == defaultChooseString ? '' : $('#srv').data("kendoDropDownList").text(),
              '--srvno': $('#srvno').val(),
              '--ictr': $('#ictr').data("kendoDropDownList").text() == defaultNegationString ? '' : $('#ictr').data("kendoDropDownList").text(),
              '--isrv': $('#isrv').data("kendoDropDownList").text() == defaultNegationString ? '' : $('#isrv').data("kendoDropDownList").text(),
              '--isrvno': $('#isrvno').val()
            }
           return req_data;
         }

         function showResult(data) {
           var windowHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
           var resizeHeight = windowHeight - $('#result').offset().top - 80;
           console.log ('windowHeight: ' + windowHeight);
           console.log ('resizeHeight: ' + resizeHeight);
           console.log ($('#result').offset().top);
           var titles = getTitles(data);
           $('#result').kendoGrid({
            selectable: "multiple cell",
            allowCopy: true,
            scrollable: true,
            filterable: {mode: "row"},
            height: resizeHeight
           });
           $('#result').data("kendoGrid").setOptions({
             columns:titles
           })
           var dataSource = new kendo.data.DataSource({
             data: data.rsp_data
           })
           $('#result').data("kendoGrid").setDataSource(dataSource);
          //  $('#result').show();
         }

         function getTitles(data) {
           if(data.type === 'relay'){
             return [
               { field: "origin_ip_address" ,title: '原IP地址'},
               { field: "relay_relation" ,title: '中继关系'},
             ]
           }else if (data.type === 'host') {
            return [
               { field: "ip_address" ,title: 'IP地址'},
               { field: "os_type" ,title: '操作系统类型'},
               {field: "host_name" ,title: '主机名'},
             ]
           }else {
             return [
               { field: "object_info" ,title: '对象信息'},
               { field: "ip_address" ,title: 'IP地址'},
               {field: "cmd_line" ,title: '启动命令'},
             ]
           }
         }

         function unbindEvent(id) {
           $('#' + id).attr('disabled', 'disabled');
         }

         function rebindEvent(id) {
           $('#' + id).removeAttr('disabled');
         }
     });
  </script>
{% endblock %}

{% block rightBlockContent %}
  <div class="col-md-9 op-states" >
    <div id = 'paramArea' class="col-md-12">
      <div class = 'parameterContent'>
          <div class = 'row'>
              <div class="col-xs-4">
                  <div class="col-xs-3 text" >类型参数:</div>
                  <div class="col-xs-3">
                    <div id = 'parameter' class = 'inputValue'></div>
                  </div>
              </div>
              <div class="col-xs-4">
                  <div class="col-xs-3 text">对象组:</div>
                  <div class="col-xs-3">
                    <div id = 'grp' class = 'inputValue'></div>
                  </div>
              </div>

              <div class="col-xs-4">
                  <button id="reqBtn" class="mdl-button mdl-js-button mdl-button--raised"> 提交请求 </button>
              </div>
          </div>
          <div  class="row">
            <div class="col-xs-4">
                  <div class="col-xs-3 text">数据中心:</div>
                  <div class="col-xs-3">
                      <div id = 'ctr' class = 'inputValue'></div>
                  </div>
            </div>
            <div class="col-xs-4">
                <div class="col-xs-3 text">进程名:</div>
                <div class="col-xs-3">
                  <div id = 'srv' class = 'inputValue'></div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="col-xs-3 text">进程编号:</div>
                <div class="col-xs-3">
                  <i class="searchIcon"> </i>
                  <input type="text" class="form-control inputValue" id = 'srvno' placeholder="1-3,6,8">
                </div>
            </div>
          </div>
          <div  class="row lastrow" >
            <div class="col-xs-4">
                <div class="col-xs-3 text">数据中心:</div>
                <div class="col-xs-3">
                    <div id = 'ictr' class = 'inputValue'></div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="col-xs-3 text">进程名:</div>
                <div class="col-xs-3">
                  <div id = 'isrv' class = 'inputValue'></div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="col-xs-3 text">进程编号:</div>
                <div class="col-xs-3">
                  <i class="searchIcon"> </i>
                  <input type="text" class="form-control inputValue" id = 'isrvno' placeholder="[取反模式]">
                </div>
            </div>
          </div>
      </div>
    </div>
    <div style="clear:both"></div>
    <div id= 'result' style="margin-top:25px"> </div>
  </div>
{% endblock %}
