{% extends "main_template/base.html" %}
{% block title %} 上期技术监控专用版本控制系统 {% endblock %}

{% block innerStyle%}
<style>
  .form-group {
    margin-bottom: 10px;
  }

  .text{
    display:inline-block;
    width:120px;
  }

  #rollbackText {
    border-left:1px solid #BDBDBD;
    padding:0px 10px;
  }

  .inputValue {
    width:auto;
    display:inline-block;
    font-size: 17px;
    margin: 0px 20px;
    vertical-align: middle;
    position: relative;
    bottom: 5px;
  }

  #buttonDiv{
    display:inline-block;
    position:relative;
    left:20px;
  }

  #searchSubmit{
    display:inline-block;
    position:relative;
    left:20px;
    bottom: 5px;
    font-size: 16px;
  }
</style>
{% endblock%}


{% block innerScript %}
<script>
   $(document).ready(function() {
       $("#panelbar").kendoPanelBar({});
       $("a").removeClass('k-state-selected');
       $('#search').addClass('k-state-selected');

       init();
       var FAILED_FLAG = 0;

       function init() {
         $('#searchSubmit').click(submitSearchVersion);
         keyDownEvent();
         $('#inputObject').kendoDropDownList({
             dataSource : ['xml','server','client']
         });
         var XMLversionArray = [];
         var ServerVersionArray = [];
         var ClientVersionArray = [];
         for(var i = 0; i < allVersionData.length; i ++) {
           if(allVersionData[i].object == 'xml') {
             XMLversionArray.push(allVersionData[i].version)
           } else if (allVersionData[i].object == 'server') {
             ServerVersionArray.push(allVersionData[i].version);
           } else {
             ClientVersionArray.push(allVersionData[i].version);
           }
         }
         $('#inputVersion').kendoDropDownList({
             dataSource : XMLversionArray
         });
         $('#inputObject').change(function(){
           var inputvalue = $(this).val()
           if(inputvalue == 'xml'){
             $('#inputVersion').kendoDropDownList({
                 dataSource : XMLversionArray
             });
           } else if(inputvalue == 'server'){
             $('#inputVersion').kendoDropDownList({
                 dataSource : ServerVersionArray
             });
           } else {
             $('#inputVersion').kendoDropDownList({
                 dataSource : ClientVersionArray
             });
           }
         });
       }

       function submitSearchVersion() {
         var objType = $('#inputObject').val();
         var versionName = $('#inputVersion').val();
         var args = objType + ':' + versionName;
         // if(isRightversionType(versionName) === false) {
         //   return;
         // }
         unbindEvent('searchSubmit');
         reqSearchResult(args);
       }

       function reqSearchResult(args) {
         var req_data = {
           'ENV_KEY':sessionStorage.getItem('ENV_KEY'),
           'type': 'version_control',
           "--cmd" : "show",
           "--args": args
         }
         $.ajax({
           url: '/AJAX/Request_Real_Time_VersionCtr_Task/',
           data: {'req_json': JSON.stringify(req_data)},
           dataType: 'json',
           type: 'POST',
           traditional: true,
           success: function (result) {
             if (result.status === FAILED_FLAG) {
               modalAlert(result.error);
             } else {
               responseReleaseResult(result);
               rebindEvent('searchSubmit');
             }
           }
         });
       }

       function responseReleaseResult(responseJSON) {
         if(responseJSON.type != 'Fail') {
           $('h3').remove();
           $('#releaseResult').before("<h3>版本信息为： </h3>");
           $('#releaseResult').kendoGrid({
            allowCopy: true,
            scrollable: false,
            columns : [
              {
               field: "SEQ" ,
               title: 'SEQ',
               attributes: { style: "text-align: left"}
              },
              {
               field: "version" ,
               title: '版本',
               attributes: { style: "text-align: left"}
              },
              {
                field: "datetime",
                title: '提交时间',
                attributes: { style: "text-align: left"}
              },
              {
               field: "status" ,
               title: '状态',
               attributes: { style: "text-align: left"}
              }
            ]
           });
           var dataSource = new kendo.data.DataSource({
             data: responseJSON.rsp_data
           })
           $('#releaseResult').data("kendoGrid").setDataSource(dataSource);
         } else {
           modalAlert(responseJSON.rsp_data[0]);
         }
       }

       function isRightversionType(data) {
         if(data.length === 0) {
           modalAlert("请输入版本号！");
           return false;
         }
         if(allVersionData.length === 0) {
           modalAlert("获取版本信息失败");
         }
         for(var i = 0; i < allVersionData.length; i ++) {
           if(allVersionData[i].version == data) {
             return true;
           }
         }
         modalAlert("输入的版本号不存在");
         return false;
       }

       function keyDownEvent() {
         $(document).bind('keydown', function(event) {
           if(event.keyCode == 13){
              submitSearchVersion();
           }
         })
       }

       function unbindEvent(id) {
         $(document).unbind('keydown');
         $('#' + id).attr('disabled', 'disabled');
       }

       function rebindEvent(id) {
         keyDownEvent();
         $('#' + id).removeAttr('disabled');
       }
   });
 </script>
{% endblock %}

{% block rightBlockContent %}
<div  class="col-md-9" >
  <div class="searchLeftContainer " style = 'float: left;width: 70%' >
    <div style = 'border-bottom: 1px solid #BDBDBD; margin-top: 1em'>
     <div id = 'object'>
       <div class="form-group">
         <label class="text"><h4>对象选择：</h4></label>
         <input id="inputObject" class="inputValue" >
         <label  class="text" id="rollbackText" >
           <h4>版本号：</h4>
         </label>
         <input id="inputVersion" class="inputValue">
         <button type="button" class="btn btn-primary btn-default " id ='searchSubmit'>查询</button>
       </div>
     </div>
   </div>
    <div id = 'releaseResult' style = 'margin-top:2em;'></div>
  </div>
  {% include 'main_template/object-version.html' %}
</div>
{% endblock %}
