{% extends "main_template/base.html" %}
{% block title %} 上期技术监控专用版本控制系统 {% endblock %}

{% block innerStyle%}
<style>
  .form-group {
    margin-bottom: 10px;
    position: relative;
  }

  .text{
    display:inline-block;
    width:120px;
    font-size: 16px;
  }

  .selectValue {
    display: inline-block;
    border-left:1px solid #BDBDBD;
  }

  #rollbackText {
    padding:0px 10px;
  }

  .inputValue {
    width:auto;
    display:inline-block;
    font-size: 17px;
    margin: 0px 20px;
    vertical-align: middle;
    position: relative;
  }

  #searchSubmit{
    display:inline-block;
    position:absolute;
    right: 0px;
    font-size: 16px;
  }
</style>
{% endblock%}

{% block innerScript %}
<script>
   $(document).ready(function() {
     $("#panelbar").kendoPanelBar({
     });
     $("a").removeClass('k-state-selected');
     $('#drop').addClass('k-state-selected');

     init();
     $("#changeEnv").click(init);
     var FAILED_FLAG = 0;

     function init(){
       $('#searchSubmit').click(submitDropVersion);
       keyDownEvent();
       var XMLversionArray = [];
       var ServerVersionArray = [];
       var ClientVersionArray = [];
       for(var i = 0; i < allVersionData.length; i ++) {
         if(allVersionData[i].object == 'xml') {
           XMLversionArray.push(allVersionData[i].version)
         } else if (allVersionData[i].object == 'server') {
           ServerVersionArray.push(allVersionData[i].version);
         } else {
           ClientVersionArray.push(allVersionData[i].version);
         }
       }

       $('#inputObject').kendoDropDownList({
           dataSource : ['xml','server','client']
       });

       setInputVersionValue($("#inputObject").val(),XMLversionArray, ServerVersionArray, ClientVersionArray);
       
       $('#inputObject').change(function(){
         var inputvalue = $(this).val();
         setInputVersionValue(inputvalue, XMLversionArray, ServerVersionArray, ClientVersionArray);
       });
     }

     function setInputVersionValue(inputvalue, XMLversionArray, ServerVersionArray, ClientVersionArray) {
       if(inputvalue == 'xml'){
         $('#inputVersion').kendoDropDownList({
             dataSource : XMLversionArray
         });
       } else if(inputvalue == 'server'){
         $('#inputVersion').kendoDropDownList({
             dataSource : ServerVersionArray
         });
       } else {
         $('#inputVersion').kendoDropDownList({
             dataSource : ClientVersionArray
         });
       }
     }

     function submitDropVersion() {
       var objType = $('#inputObject').val();
       var versionName = $('#inputVersion').val();
       var args = objType + ':' + versionName
       console.log(args);
       if(isRightversionType(versionName) === false) {
         return;
       }
       if(confirm('确实要删除版本' + objType + ':' +versionName +'吗?')){
         unbindEvent('searchSubmit');
         reqDrop(args);
       }
     }

     function reqDrop(args) {
       var req_data = {
         'ENV_KEY':sessionStorage.getItem('ENV_KEY'),
         'type': 'version_control',
         "--cmd" : "drop",
         "--args": args
       }
       $.ajax({
         url: '/AJAX/Request_Real_Time_VersionCtr_Task/',
         data: {'req_json': JSON.stringify(req_data)},
         dataType: 'json',
         type: 'POST',
         traditional: true,
         success: function (result) {
           if (result.status === FAILED_FLAG) {
             modalAlert(result.error);
           } else {
             resultShow(result);
             rebindEvent('searchSubmit');
           }
         }
       });
     }

     function resultShow(result) {
       $('h3').remove();
       $('#releaseResult').before("<h3>删除的版本为： </h3>");
       $('#releaseResult').kendoGrid({
       //  selectable: "multiple cell",
        allowCopy: true,
        scrollable: false,
        columns : [
          { field: "status" ,title: '状态'},
          { field: "version" ,title: '版本'},
          {field: "SEQ" ,title: 'SEQ'},
          {field: "datetime" ,title: '提交时间'},
        ]
       });
       var dataSource = new kendo.data.DataSource({
         data: result.data
       })
       $('#releaseResult').data("kendoGrid").setDataSource(dataSource);
     }

     function isRightversionType(data) {
       if(data.length === 0) {
         modalAlert("请输入版本号！");
         return false;
       }
       if(allVersionData.length === 0) {
         modalAlert("获取版本信息失败");
       }
       for(var i = 0; i < allVersionData.length; i ++) {
         if(allVersionData[i].version == data) {
           return true;
         }
       }
       modalAlert("输入的版本号不存在");
       return false;
     }

     function keyDownEvent() {
       $(document).bind('keydown', function(event) {
         if (event.keyCode == 13){
            submitDropVersion();
         }
       })
     }

     function unbindEvent(id) {
       $(document).unbind('keydown');
       $('#' + id).attr('disabled', 'disabled');
     }

     function rebindEvent(id) {
       keyDownEvent();
       $('#' + id).removeAttr('disabled');
     }
   });
 </script>
{% endblock %}

{% block rightBlockContent %}
<div  class="col-md-9" >
  <div class="searchLeftContainer " style = 'float: left;width: 70%' >
    <div style = 'border-bottom: 1px solid #BDBDBD; margin-top: 1em'>
     <div id = 'object'>
       <div class="form-group">
         <label class="text">对象选择：</label>
         <input id="inputObject" class="inputValue">
         <div class="selectValue">
           <label  class="text" id="rollbackText" >版本号：</label>
           <input id="inputVersion" class="inputValue">
         </div>
         <button type="button" class="btn btn-primary btn-default " id ='searchSubmit'>删除此版本</button>
       </div>
     </div>
   </div>
    <div id = 'releaseResult' style = 'margin-top:2em;'></div>
  </div>
  {% include 'main_template/object-version.html' %}
</div>
{% endblock %}
