{% extends "main_template/base.html" %}
{% block title %} 上期技术监控专用版本控制系统 {% endblock %}

{% block innerStyle%}
  <style>
  #paramArea {
    /*border:1px solid #BDBDBD;*/
    background-color:#eceff1;
    padding:0px 0px;
    margin: 0px 10px;
    width: 56%;
  }
  .row {
     width: 100%;
     padding: 10px 0px;
     /*border-bottom:2px solid #BDBDBD;*/
     margin-left: 0px;
   }
  .text {
    background: transparent;
    border: none;
    border-radius: 2px;
    color: rgb(0,0,0);
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
   }
   .col-xs-4{
     padding: 0px;
     width: 40%;
     margin: 5px 0px 5px 10px;
     position: relative;
     left: 10px;
   }
   .col-xs-3{
     padding: 0px;
     width: auto;
     margin: 0px 10px 0px 0px;
   }
   .mdl-button {
     margin-right: 10px;
     text-transform:capitalize;
   }
  </style>
{% endblock%}

{% block innerScript %}
<script>
   $(document).ready(function() {
       $("#panelbar").kendoPanelBar({});
       $("a").removeClass('k-state-selected');
       $('#search').addClass('k-state-selected');

       init();
       var FAILED_FLAG = 0;

       function init() {
         $('#searchSubmit').click(submitSearchVersion);
         keyDownEvent();
         $('#inputObject').kendoDropDownList({
             dataSource : ['xml','server','client']
         });
         var XMLversionArray = [];
         var ServerVersionArray = [];
         var ClientVersionArray = [];
         for(var i = 0; i < allVersionData.length; i ++) {
           if(allVersionData[i].object == 'xml') {
             XMLversionArray.push(allVersionData[i].version)
           } else if (allVersionData[i].object == 'server') {
             ServerVersionArray.push(allVersionData[i].version);
           } else {
             ClientVersionArray.push(allVersionData[i].version);
           }
         }
         $('#inputVersion').kendoDropDownList({
             dataSource : XMLversionArray
         });
         $('#inputObject').change(function(){
           var inputvalue = $(this).val()
           if(inputvalue == 'xml'){
             $('#inputVersion').kendoDropDownList({
                 dataSource : XMLversionArray
             });
           } else if(inputvalue == 'server'){
             $('#inputVersion').kendoDropDownList({
                 dataSource : ServerVersionArray
             });
           } else {
             $('#inputVersion').kendoDropDownList({
                 dataSource : ClientVersionArray
             });
           }
         });
       }

       function submitSearchVersion() {
         var objType = $('#inputObject').val();
         var versionName = $('#inputVersion').val();
         var args = objType + ':' + versionName;
         // if(isRightversionType(versionName) === false) {
         //   return;
         // }
         unbindEvent('searchSubmit');
         reqSearchResult(args);
       }

       function reqSearchResult(args) {
         var req_data = {
           'ENV_KEY':sessionStorage.getItem('ENV_KEY'),
           'type': 'version_control',
           "--cmd" : "show",
           "--args": args
         }
         $.ajax({
           url: '/AJAX/Request_Real_Time_VersionCtr_Task/',
           data: {'req_json': JSON.stringify(req_data)},
           dataType: 'json',
           type: 'POST',
           traditional: true,
           success: function (result) {
             if (result.status === FAILED_FLAG) {
               modalAlert(result.error);
             } else {
               responseReleaseResult(result);
               rebindEvent('searchSubmit');
             }
           }
         });
       }

       function responseReleaseResult(responseJSON) {
         if(responseJSON.type != 'Fail') {
           $('h3').remove();
           $('#releaseResult').before("<h3>版本信息为： </h3>");
           $('#releaseResult').kendoGrid({
            allowCopy: true,
            scrollable: false,
            columns : [
              {
               field: "SEQ" ,
               title: 'SEQ',
               attributes: { style: "text-align: left"}
              },
              {
               field: "version" ,
               title: '版本',
               attributes: { style: "text-align: left"}
              },
              {
                field: "datetime",
                title: '提交时间',
                attributes: { style: "text-align: left"}
              },
              {
               field: "status" ,
               title: '状态',
               attributes: { style: "text-align: left"}
              }
            ]
           });
           var dataSource = new kendo.data.DataSource({
             data: responseJSON.rsp_data
           })
           $('#releaseResult').data("kendoGrid").setDataSource(dataSource);
         } else {
           modalAlert(responseJSON.rsp_data[0]);
         }
       }

       function isRightversionType(data) {
         if(data.length === 0) {
           modalAlert("请输入版本号！");
           return false;
         }
         if(allVersionData.length === 0) {
           modalAlert("获取版本信息失败");
         }
         for(var i = 0; i < allVersionData.length; i ++) {
           if(allVersionData[i].version == data) {
             return true;
           }
         }
         modalAlert("输入的版本号不存在");
         return false;
       }

       function keyDownEvent() {
         $(document).bind('keydown', function(event) {
           if(event.keyCode == 13){
              submitSearchVersion();
           }
         })
       }

       function unbindEvent(id) {
         $(document).unbind('keydown');
         $('#' + id).attr('disabled', 'disabled');
       }

       function rebindEvent(id) {
         keyDownEvent();
         $('#' + id).removeAttr('disabled');
       }
   });
 </script>
{% endblock %}

{% block rightBlockContent %}
<div id = 'paramArea' class="col-md-9">
      <div class = 'row'>
          <div class="col-xs-4">
              <button class="mdl-button mdl-js-button mdl-button--raised"> XML </button>
              <button class="mdl-button mdl-js-button mdl-button--raised"> Server </button>
              <button class="mdl-button mdl-js-button mdl-button--raised"> Client </button>
          </div>

          <div class="col-xs-4">
              <div class="col-xs-3 text">版本号:</div>
              <div class="col-xs-3">
                <div id = 'inputVersion' class = 'inputValue'></div>
              </div>
          </div>
      </div>
</div>
<!-- <div  class="col-md-9" >
  <div class="searchLeftContainer " style = 'float: left;width: 70%' >
    <div style = 'border-bottom: 1px solid #BDBDBD; margin-top: 1em'>
     <div id = 'object'>
       <div class="form-group">
         <label style= 'width:150px;float:left'><h4>对象选择：</h4></label>
         <input  class="form-control" style= 'width:100px;float:left' id="inputObject" >
         <label class="col-md-2 " style= 'margin-left: 20px; border-left:  1px solid #BDBDBD'><h4>版本号：</h4></label>
         <div class="col-md-4">
           <div id = 'inputVersion' class = 'inputValue'></div>
         </div>
         <div class="=col-md-2">
           <button type="button" class="btn btn-primary btn-default" id ='searchSubmit' >查询</button>
         </div>
       </div>
     </div>
   </div>
    <div id = 'releaseResult' style = 'margin-top:2em;'></div>
  </div> -->
  {% include 'main_template/object-version.html' %}
</div>
{% endblock %}
